# Python In-Built Data Structures
- strings
- list
- tuple
- set
- dictionary

# Strings
    - strings in python are the sequence of unicode characters.

<img src="https://media.giphy.com/media/l0ExwzsCSv0apIjlK/giphy.gif" width = "300" style="transform:rotate(-90deg);">

In [ ]:
my_str = "Welcome to the Course"

In [ ]:
print(my_str)
print(type(my_str))

Welcome to the Course
<class 'str'>

**Indexing a String**

- accessing one character based on the position.

In [ ]:
print(my_str[0])
print(my_str[1])
print(my_str[2])
print(my_str[3])
print(my_str[4])
print(my_str[5])
print(my_str[6])
print(my_str[7])
print(my_str[8])
print(my_str[9])

W
e
l
c
o
m
e

t
o

In [ ]:
print(my_str[0])
print(my_str[1])

W
e

In [ ]:
%who

my_str

In [ ]:
%whos

Variable   Type    Data/Info
----------------------------
my_str     str     Welcome to the Course

In [ ]:
# total number characters in a string
print( len(my_str) )

21

In [ ]:
%who

Interactive namespace is empty.

In [ ]:
# accessing last element of string
print( my_str[len(my_str)  - 1] )

e

**Negative Indexing**

- writting `len(my_str)` is optional.

- That's how Python give rise to Negative Indexing

In [ ]:
print( my_str[-1] )   # last character
print( my_str[-5] )   # 5th last character

e
o

### String Slicing
- extracting multiple characters from a string (sub string)
- Syntax : `str[start_idx : end_idx +1]`

In [ ]:
sample="SHUBHAM"
print(sample)
print(sample[1:7:2])

SHUBHAM
HBA

In [ ]:
print( my_str[ 2:7] )

lcome

In [ ]:
print( my_str)

print( my_str[1:4:2] )

Welcome to the Course
ec

In [ ]:
print( my_str[:] )

Welcome to the Course

In [ ]:
# all the characters except last 2
print( my_str[:-1] )

Welcome to the Cours

### Important Methods related to strings

In [ ]:
print(my_str)

Welcome to the Course

In [ ]:
# my_str.

In [ ]:
# converts everything in lowercase
my_str.lower()

'welcome to the course'

In [ ]:
# converts everything in uppercase
my_str.upper()

'WELCOME TO THE COURSE'

In [ ]:
# Captial first character of each word
my_str.title()

'Welcome To The Course'

In [ ]:
# returns the index of first occurence of the word, -1 otherwise
my_str.find("come")

3

In [ ]:
# splits the string with space " " and creates a list
my_str.split(" ")

['Welcome', 'to', 'the', 'Course']

### Few Operations on strings

In [ ]:
# concatenation 2 of strings
"abc "+"pqr"

'abc pqr'

In [ ]:
# cannot concatenate other data type
"abc" + 1

TypeError: can only concatenate str (not "int") to str

In [ ]:
# type conversion is the way.
"abc " + str(1)

'abc 1'

In [ ]:
# Multiplication of string with int n results into repetition string n times.
"hello"*4

'hellohellohellohello'

# Lists
     - ordered/sequence collection of elements
     - indexable
     - mutable
     - can store heterogenous elements
<img src="https://media.giphy.com/media/10S4rk0J10AKlO/giphy.gif" width="500">

In [ ]:
list1=[1,3,5,6,8]
print(list1)

[1, 3, 5, 6, 8]

In [ ]:
my_list = [6,3,2,8,4]

In [ ]:
print(my_list)

[6, 3, 2, 8, 4]

In [ ]:
type(my_list)

list

**Indexing/Slicing of List works same way as Strings**

In [ ]:
print(my_list)

[6, 3, 2, 8, 4]

In [ ]:
my_list[1]=99
print(my_list)

[6, 99, 2, 8, 4]

In [ ]:
print( my_list[0] )

print( my_list[-1] )

print( my_list[1:-1] ) # list slicing

6
4
[3, 2, 8]

In [ ]:
# because of mutable property
my_list[0] = 99

print(my_list)

[99, 3, 2, 8, 4]

### Some important methods for lists

In [ ]:
# adds the given element at the end of the list
my_list.append(33)

print(my_list)

[99, 3, 2, 8, 4, 33]

In [ ]:
# inserts 88 at index 1
my_list.insert(1, 88)

print(my_list)

[99, 88, 3, 2, 8, 4, 33]

In [ ]:
# delete the last element.
# pop function can also take index if you want to delete specific index.
my_list.pop()

print(my_list)

[99, 88, 3, 2, 8, 4]

In [ ]:
# reverse a list
my_list.reverse()

print(my_list)

[4, 8, 2, 3, 6]

In [ ]:
# sorts in ascending order
my_list.sort()

print(my_list)

[2, 3, 4, 8, 88, 99]

In [ ]:
# sorts in descending order
my_list.sort(reverse=True)

print(my_list)

[99, 88, 8, 4, 3, 2]

In [ ]:
# in operator
1 in my_list

False

In [ ]:
# iterating over elements of list and taking their squares
for ele in my_list:
    print(ele**2)

16
64
4
9
36

### List Comprehension

In [ ]:
print(my_list)

[4, 8, 2, 3, 6]

In [ ]:
# creating a new list of squares of each element
new_list = []

for ele in my_list:
    new_list.append(ele**2)

print(new_list)

[16, 64, 4, 9, 36]

In [ ]:
## list comprehension
new_list2 = [ele**2 for ele in my_list]

print(new_list2)

[16, 64, 4, 9, 36]

In [ ]:
# e.g of heterogenous list
my_list_2 = [4, True, 98.4, [9,6,3], "Python", 100]

print(my_list_2)

[4, True, 98.4, [9, 6, 3], 'Python', 100]

In [ ]:
len(my_list_2)

6

In [ ]:
list_2d = [ [1,2,3], [4,5,6], [7,8, 9] ]

print(list_2d)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
list_2d[1]=[10,15,16]
print(list_2d)

[[1, 2, 3], [10, 15, 16], [7, 8, 9]]

In [ ]:
print(list_2d[1])

[4, 5, 6]

In [ ]:
print(list_2d[1:3])

[[4, 5, 6], [7, 8, 9]]

In [ ]:
print(list_2d[::1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
print(list_2d[1:1])

[]

In [ ]:
# accessing an element in 2d list
print( list_2d[1][1] )

15

# Tuples
    - similar to lists (read-only)
    - ordered,  collections of items
    - indexable
    - immutable

In [ ]:
tup = (8, 9 , "Hello", 88)

In [ ]:
print(tup)

(8, 9, 'Hello', 88)

In [ ]:
type(tup)

tuple

In [ ]:
print( tup[0] )

print( tup[:-1])

8
(8, 9, 'Hello')

In [ ]:
# But this is not possible because of immutablity
tup[0] = 1

TypeError: 'tuple' object does not support item assignment

In [ ]:
for ele in tup:
    print(ele)

8
9
Hello
88

# Set
    - contains only unique elements
    - mutable
    - unordered
    - unindexable

In [ ]:
my_set = {9, 7, 7, 1, 8, 9, 7, 5, 1}

In [ ]:
# No duplicate elements
print(my_set)

{1, 5, 7, 8, 9}

In [ ]:
type(my_set)

set

In [ ]:
# No matter how many times you add same element, it will be available only once.
my_set.add(99)

print(my_set)

{1, 99, 5, 7, 8, 9}

In [ ]:
# remove elements from set
my_set.remove(8)

print(my_set)

{1, 99, 5, 7, 9}

#### Remove Duplicate Numbers from a list

In [ ]:
some_list = [6,3,7,6,4,1,0,9,2,1,0,8,6,4,7]

In [ ]:
print(some_list)

[6, 3, 7, 6, 4, 1, 0, 9, 2, 1, 0, 8, 6, 4, 7]

In [ ]:
my_new_set = set(some_list)

In [ ]:
some_list = list(my_new_set)

In [ ]:
some_list

[0, 1, 2, 3, 4, 6, 7, 8, 9]

# Dictionary
     - stores data in key-value pair
     - unordered
     - unindexable
     - access the values, with help of keys
      
<img src="https://media.giphy.com/media/l2Je66zG6mAAZxgqI/giphy.gif" width=300>

In [ ]:
user_info = {
    "Sr.No" : 1,
    "name": "Mohit",
    "age" : 34,
    "nationality" : "Indian",
}

In [ ]:
print(user_info)

{'Sr.No': 1, 'name': 'Mohit', 'age': 34, 'nationality': 'Indian'}

In [ ]:
type(user_info)

dict

In [ ]:
# accessing elements in dictionary

print(user_info['name'])
print(user_info["name"])
print(user_info['nationality'])

Mohit
Mohit
Indian

In [ ]:
# unknown key gives error
print(user_info['hobby'])

KeyError: 'hobby'

   use  `dic.get()` to avoid error

In [ ]:
# no error
user_info.get('hobby')

In [ ]:
# add data in dictionary
user_info['hobby'] = ['Singing', 'Cricket', 'Coding']

In [ ]:
print(user_info)

{'Sr.No': 1, 'name': 'Mohit', 'age': 34, 'nationality': 'Indian', 'hobby': ['Singing', 'Cricket', 'Coding']}

In [ ]:
# display all keys
user_info.keys()

dict_keys(['Sr.No', 'name', 'age', 'nationality', 'hobby'])

In [ ]:
# display all values
user_info.values()

dict_values([1, 'Mohit', 34, 'Indian', ['Singing', 'Cricket', 'Coding']])

In [ ]:
# display (key, value) pair in tuples
user_info.items()

dict_items([('Sr.No', 1), ('name', 'Mohit'), ('age', 34), ('nationality', 'Indian'), ('hobby', ['Singing', 'Cricket', 'Coding'])])

In [ ]:
for i,j in user_info.items():
    print(i, " : " , j)

Sr.No  :  1
name  :  Mohit
age  :  34
nationality  :  Indian
hobby  :  ['Singing', 'Cricket', 'Coding']

In [ ]:
# delete key, value
user_info.pop('nationality')

'Indian'

In [ ]:
# nationality has been deleted
user_info

{'Sr.No': 1,
 'name': 'Mohit',
 'age': 34,
 'hobby': ['Singing', 'Cricket', 'Coding']}

In [ ]:
user_info['name'] = "John Doe"

In [ ]:
print(user_info)

{'name': 'John Doe', 'age': 34, 'hobby': ['Singing', 'Cricket', 'Coding']}

In [ ]:
user_info['name'] = "Kapil"
print(user_info)

{'Sr.No': 1, 'name': 'Kapil', 'age': 34, 'nationality': 'Indian'}

In [ ]:
#check key is available in the dictionary or not
print(user_info)

if "age" in user_info:
  print("Age Key is available")

{'Sr.No': 1, 'name': 'John Doe', 'age': 34, 'hobby': ['Singing', 'Cricket', 'Coding']}
Age Key is available

In [ ]:
 # copy dict into another dict
user1_copy = user_info.copy()
print(user1_copy)

{'Sr.No': 1, 'name': 'John Doe', 'age': 34, 'hobby': ['Singing', 'Cricket', 'Coding']}

In [ ]:
#Merge dict
dict1 = {"city": "India", "email": "alice@example.com"}
print(dict1)
user_info.update(dict1)
print(user_info)

{'city': 'India', 'email': 'alice@example.com'}
{'Sr.No': 1, 'name': 'John Doe', 'age': 34, 'hobby': ['Singing', 'Cricket', 'Coding'], 'city': 'India', 'email': 'alice@example.com'}

In [ ]:
#Create a dictionary from two lists, one for keys and one for values.
keys = ["name", "age", "city"]
values = ["Nayan", 30, "New York"]
person = dict(zip(keys, values))
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
  person = {
       "name": "Alice",
       "age": 30,
       "contacts": {
           "email": "alice@example.com",
           "phone": "123-456-7890"
       }
   }
   print(person)

In [ ]:
#Dictionary Comprehension
 #  *Task*: Create a dictionary using dictionary comprehension.
squares = {x: x*x for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Clear all elements from a dictionary.
person = {"name": "Alice", "age": 30, "city": "New York"}
   person.clear()
   print(person)  # Output: {}

In [ ]:
#Count Frequency of Elements in a list using a dictionary.
   numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
   frequency = {}
   for num in numbers:
       frequency[num] = frequency.get(num, 0) + 1
   print(frequency)

# Challenges :

**Challenge 1 :** Write a Program to check if a string is Palindrome

---



**Challenge 2 :** Write a Program to reverse a string _(without using any function)_

**Challenge 1 :** Find the minimum/maximum element in a given list

**Challenge 2 :** Extend the Challenge 1, to find second largest element in a given list.

**Challenge 3 :** Write a Program to remove duplicate elements from a given list.

**Challenge 1 :** Given a dictionary, reverse that dictionary keys should become values and values will be keys. _(Provided keys and vlaues are immutable)_

**Challenge 2 :** Given a list like `['Apple', 'Mango', 'Apple','Banana','Grapes, 'Mango','Apple']` find which is the most frequest element